/* @override http://33.33.33.101/css/main.css */

/*
	Author: Giuliano Salvatore
	web: http://www.giulianosalvatore.com
	twitter: @salvogiuliano 
*/


/* ==================================================
   	START CSS SUPERBOOK | Author: Salvatore Giuliano
   ==================================================*/




/* | GENERALE |
===================================================== */

@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;
    src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/7XUFZ5tgS-tD6QamInJTcZ_o9VAbKgK36i-4snuAuCM.woff) format('woff');
}




body {background-color: #f0e7d5;
    color: #2b2a30; font-size: 62.5%; font-family: 'Titillium Web', Helvetica, Arial, sans-serif!important;}


.hidden {display: none; visibility: hidden;}
.visuallyhidden {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto;}
.invisible {visibility: hidden;}

.ir {display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0;}
.ir br {display: none;}

.left {float: left;}
.right {float: right;}

.clear:before, .clear:after {content: ""; display: table;}
.clear:after {clear: both;}
.clear {*zoom: 1;}

input[type="button"],
input[type="submit"],
input[type="image"] {cursor: pointer;}
::-webkit-input-placeholder {font-style: italic; color: #ccc;}
::-moz-placeholder {font-style: italic; color: #ccc;}

/* link */
a {text-decoration: none;}


/* testo */
h1, h2, h3, h4, h5, h6 {font-weight: bold;}
h1 {}
h2 {}
h3 {}
h5 {}
h6 {}
b, strong, th {font-weight: bold;}

/* icone */
.icon {position: absolute; top: 50%; left: 50%; background-image: url(../images/sprite.png); background-repeat: no-repeat;}

/* wrapper */
#wrapper {width: 100%;}


/* | HEADER |
===================================================== */
.headerPlus {position: fixed; top: 0; left: 0; width: 100%; padding: 10px 0; background-color: #bcded0; overflow: hidden; z-index: 1}
.headerPlus hgroup {position: relative; height: 80px; float: left; padding: 0 0 0 10em;
    margin: 0;
}
.headerPlus h1 {padding: 25px 0 0; margin: 0; color: #58595b; font: normal 3.2em/1 'Titillium Web', Helvetica, Arial, sans-serif; text-transform: uppercase;}
.headerPlus h1 a {color: #58595b;
    transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease;	-ms-transition: all 0.5s ease;}
.headerPlus hgroup span {color: #58595b; font: 1.4em/normal 'Titillium Web', Helvetica, Arial, sans-serif; text-transform: uppercase;}
.headerPlus h1 a:hover {color: #df5b38;}

.logo {position: absolute; top: 50%; left: 1em; width: 74px; height: 74px; margin: -37px 0 0;
    background-image: url(../images/sprite.png); background-repeat: no-repeat; background-position: 0 0; text-indent: -9999px;}
.headerPlus a:hover {text-decoration: none;}
/* | nav | */
.headerPlus nav {float: right;}
.headerPlus nav ul {height: 80px; margin: 0;}
.headerPlus nav ul li {display: inline; float: left;}
.headerPlus nav h3 { margin: 0; color: #58595b; font: normal 2em/80px 'Titillium Web', Helvetica, Arial, sans-serif;
	padding: 0 0.5em;
}
.headerPlus nav h3 a {display: block; position: relative; color: #58595b;
    transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease;	-ms-transition: all 0.5s ease;
}
.headerPlus nav h3 a:hover {color: #FFF;}
.headerPlus nav .twitter,
.headerPlus nav .facebook {text-indent: -9999px;}
.headerPlus nav .twitter .icon {width: 33px; height: 27px; margin: -14px 0 0 10px; background-position: -110px -6px;}
.headerPlus nav .facebook .icon {width: 15px; height: 31px; margin: -14px 0 0 -7px; background-position: -119px -46px;}


/* | CONTENT |
===================================================== */
.content {position: absolute; top: 100px; bottom: 44px; left: 0; width: 100%;}
.main {position : absolute; z-index  : 0; width: 100%; height: 100%; overflow: hidden;}
.main p {font-size: 1.3em;}

.fuelux .close {opacity: 0.5; filter: alpha(opacity=40);}
.fuelux .close:hover {opacity: 0.8; filter: alpha(opacity=80);}
.fuelux .icon-remove {background-image: url(../images/sprite.png); background-repeat: no-repeat; background-position: -9px -177px;}

#app-es-map {position : relative; width: 100%; height: 100%;}
#loader {position: absolute; top: 0; left: 0; z-index: 9999; width: 100%; height: 100%; background-color: #feffff; opacity: 0.8; filter: alpha(opacity=80);}


.searchbar {position: absolute; top: 0px; z-index:999; width: 100%; padding: 10px; background: #add6ca; overflow: hidden;    
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}
.searchbar .search {display: block; margin: 0;
	width: 93%;
}
.searchbar .span6 {
    width: 90%!important;
	margin: 0;
}

.searchbar input.searchquery {
	background: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	font-size: 18px;
	uneditable-input: 
}

.searchbar input.searchquery:focus {
  border:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button.searchbutton.btn {
	float: left;
	background: none;
	border: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-webkit-border-radius: 0px!important;
 	-moz-border-radius: 0px!important;
  	-moz-box-shadow: none;
  	border-radius: 0px!important;	
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #e9f4ef;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #e9f4ef;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #e9f4ef;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #e9f4ef;
}

button.searchbutton.btn:hover {
  color: #feffff;
  background-color: #df5b38;
  *background-color: #df5b38;
}

#es-map-details {position: absolute; position: absolute; top: 50px; bottom: 0; z-index: 8000; width: 400px; overflow: hidden;     -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;}
#details {height: 100%; min-height: 100%; /*height: auto!important; */color: #58595b; overflow: auto;
	background-color: #f0e7d5;
}
#details h3 {margin: 0.4em 0; font-size: 2.3em; font-weight: normal; font-style: normal; line-height: 1em; }
#details div.struttura,
#details div.dimensione {display: block; height: 92px; float: left; padding: 6px; margin: 0; background-color: #df5b38; overflow: hidden; }
#details div.dimensione {width: 28%;	margin: 0;
	float: right;
}
#details .close { display: none; }
#details div.struttura {width: 65%;
    margin: 0;
}
#details div.struttura span,
#details div.dimensione span {font-size: 1.4em; text-transform: uppercase;}

#details .header {color: #feffff;}

.olControlZoom {top: 200px!important; right: 10px; left: auto!important; padding: 3px;}

.olControlAttribution {position: absolute; bottom: 0 !important; right: 0 !important; padding: 2px 4px; background: rgba(0,0,0,0.1);
    font-size: 10px; font-family: Arial; border-radius : 5px 0 0 0;}

div.olControlZoom a {background: #797979!important; /*background: rgba(121, 121, 121, 0.5);*/}


#details .header,
#details ul.indicators li {display: block; padding: 8px;	border: 3px solid #add6ca; overflow: hidden;}

#details div.header {
    padding: 0;
    border-style: none;

}

#details ul.indicators {
    margin: 0;
    padding: 0;
    color: #58595b;
}

#details ul.indicators li {
    list-style: none;
    margin-top: 5px;
    background-color: #add6ca;  
}

#details ul li:hover {
    background: #add6ca;
    cursor: pointer;
    border: 3px solid #df5b38;
}

#details ul.indicators li h4 {font-size: 1.6em;}

#details div.progress {position: relative; height: 50px; color: #212121;    filter: none!important;}

#details div.progress span.deaths {position: absolute; z-index: 1; height: 50px; padding-left: 8px; margin: auto; font-size: 20px;	line-height: 37px;}


#details div.progress i {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    display: block;
    line-height: 0;
    margin-top: 14px;
}

#details div.progress span.hospitalized {
    position: absolute;
    height: 50px;
    margin: auto;
    font-size: 20px;
    line-height: 37px;
    text-align: right;
    right: 8px;
    z-index: 1;
}

#details div.progress .bar-danger {
    background-color: #df5b38;
    background-image: none;
}


#details div.progress .bar-success {
    background-color: #d1fbe5;
    background-image: none;
}

#details div.progress .national-mean {
    position: absolute;
    height: 50px;
    border-right: 5px solid #989898;
    background-image: none;
    background-color: transparent;

}

#details span.national-mean {
    position: relative;
    top: -19px;
    font-size: 14px;
    margin-left: -5px;
}

#details span.national-mean i.arrow {
    font-size: 15px;
    margin-right: 4px;
}

#hidden-indicators {
	margin-top: 5px;
}

#hidden-indicators span {
	font-size: 1.6em;	
	display: block;
	background: #add6ca;
	padding: 10px;
	font-weight: bold;	
}

#hidden-indicators span i {
	margin-top: 4px;
}

#hidden-indicators span:hover {
	background-color: #df5b38;
	color: #fffefe;
	cursor: pointer;
}

#hidden-indicators ul.hidden-indicators {
	margin: 0;
	padding: 0;
}

#hidden-indicators ul.hidden-indicators li {
	display: block;
	width: 103px;
	float: left;
	height: 100px;
	min-widthheight: 100px;
	background-color: #add6ca;
	padding: 7px;
	margin-top: 5px;
	margin-right: 5px;
	border: 3px solid #add6ca;	
}

#hidden-indicators ul.hidden-indicators li.selected {
	border: 3px solid #df5b38;
	width: auto;
	height: auto;
}

#hidden-indicators ul.hidden-indicators li h4 {
	color: #7b9097; font-weight: normal;
	font-size: 15px;
	font-style: normal;
}

#rankings {
    width: 430px;
    display: block;
    position: absolute;
    z-index:9999;
    background: #add6ca;
    bottom: 0;
    right: 0px;
    padding: 10px;
    color: #58595b;
    -moz-box-shadow: 0 0 5px #888;
    -webkit-box-shadow: 0 0 5px#888;
    box-shadow: 0 0 5px #888;
}

#rankings h4 {
	padding-bottom: 0!important;
	margin: 0!important;
}

#rankings h4 span {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	margin-left: 8px;
	white-space: nowrap;
}

#rankings span.search-query {
	clear: left;
	display: block;
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
}

#rankings ul {
    margin-left: 0px!important;
}

.close {
    margin-top: 10px;
}

#details a.close {
    position: absolute;
    right: 15px;
    top: 6px;
}

#rankings ul li.label {
    color: #58595b;
    list-style: none;
    padding: 3px;
    background: none!important;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: normal;
    font-style: normal;
    text-transform: uppercase;
    font-size: 1.2em;
}

#rankings ul li.hospital {
    list-style: none;
    padding: 3px;
}

#rankings ul li.hospital:hover {
	background-color: #df5b38;
	cursor: pointer;
	color: #feffff;
}

#rankings ul li.hospital:hover span.badge {
	color: #feffff;
}

#rankings ul li.hospital span.name {width: 133px; overflow: hidden;	display: inline-block; white-space: nowrap;	vertical-align: baseline; font-size: 1.1em;}
#rankings ul li.hospital span.badge {width: 44px; background:none; color: #df5b38; font-size: 1.2em; text-align: center;}

#rankings h4 {margin-bottom: 10px; padding-bottom: 10px;}

#rankings ul.topten li.hospital span.score {
    color: #58595b;
}

#rankings ul.bottomten li.hospital span.score {
    color: #da524d;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 100%;
}


.fill {
    min-height: 100%;
    height: 100%;
    margin-top: -14px;
}

#map img { max-width:none; }

.tooltip {
    z-index: 9999;
}

/* @group Polar Chart */

#disease_details {
    z-index: 2;
    display: block;
    position: relative;
    top: -479px;
    width: 181px;
    left: 311px;
    text-align: center;
}


#disease_legend {
    z-index:9999;
    padding: 10px;
    position: absolute;
    display: block;
    width: 300px;
    top: 192px;
    right: 37px;
    background: rgba(88, 82, 84,0.8);
}

.disease {
    color: #feffff;
    display: block;
}

.disease.title {
    font-size: 18px;
    margin-bottom: 7px;
}

.disease.description {
    font-style: italic;
}

#disease_details ul {
    text-align: left;
    margin-left: 0;
    padding: 0 10px 2px;
}

li.disease li {
    padding-left: 1em;
    text-indent: -.7em;
}
li.disease:before {
    content: "•";
    font-size: 27px;
}

li.disease.hospitalized:before {
    color:  rgba(200, 200, 200, 0.5000);
}

li.disease.deaths:before {
    color:  rgba(251, 20, 16, 1.0000);
}

li.disease.national_deaths:before {
    color:  rgba(248, 163, 164, 1.0000);
}
/* @end */





/* | FOOTER |
===================================================== */
.wpFooter {position: fixed; left: 0; bottom: 0; width: 100%; background-color: #acd6ca;}
.wpFooter footer {position: relative; height: 44px; padding: 0 1.5em;}

.wpFooter .social {height: 44px; float: left; margin: 0;
}
.wpFooter .social li {display: inline; float: left; margin: 0;}
.wpFooter .social li a {display: block; position: relative; height: 44px; padding: 0 1em; text-indent: -9999px; margin-right: 30px;}
.wpFooter .social .facebook .icon {width: 14px; height: 24px; margin: -12px 0 0 -7px; background-position: -54px -134px;
    transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease;	-ms-transition: all 0.5s ease;
}
.wpFooter .social .facebook:hover .icon {background-position: -54px -96px;}
.wpFooter .social .twitter .icon {width: 34px; height: 22px; margin: -11px 0 0 -17px; background-position: -6px -136px;
    transition: all 0.5s ease; -moz-transition: all 0.5s ease; -webkit-transition: all 0.5s ease; -o-transition: all 0.5s ease;	-ms-transition: all 0.5s ease;
}
.wpFooter .social .twitter:hover .icon {background-position: -6px -98px;}
.wpFooter .social p {
    line-height: 44px;
    font-size: 14px;
    width: 100%;
    color: #4b4b4b;
}

ul.partner {height: 44px; float: right; margin: 0;}
ul.partner li {display: inline; position: relative; float: left; margin: 0 0 0 3em;}
ul.partner li a {display: block; height: 44px; text-indent: -9999px;}
ul.partner .logoWired {width: 145px; background: transparent url(../images/logo_wired.png) no-repeat center center;}
ul.partner .logoMitecube {width: 123px; background: transparent url(../images/logo_mitecube.png) no-repeat center center;}








/* @group Responsive */

@media only screen
and (min-width : 320px) and (max-width : 480px) {
    .logo {left: 0.6em; width: 44px; height: 44px; margin: -22px 0 0; background-position: -100px -96px;}
    .headerPlus {padding: 0 0 10px;}
    .headerPlus h1 {padding: 12px 0 0; font-size: 2em;}
    .headerPlus hgroup span {font-size: 1.1em;}
    .headerPlus {position: absolute; top: 0; left: 0; z-index: 9000; width: 100%; padding: 5px 0;}
    .headerPlus hgroup {position: relative; height: 44px; padding: 0 0 0 5em;}

    .headerPlus nav {display: none;}

    .content {position: absolute; top: 54px; bottom: 44px; width: 100%;}

    .wpFooter {position: absolute;}
    .wpFooter .social {display: none;}
    ul.partner {float: none;}
    ul.partner li {float: right; margin: 0;}
    ul.partner li:first-child {float: left;}


    div.olControlZoom {
        top: 70px!important;
        z-index: 888!important;
    }

    .searchbar {
        width: 100%;
        margin: 0;
        padding: 0;
        z-index: 999;
    }

    .searchbar .search {
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
	text-align: left;
}

    .searchbar .span6 {
        width: 85%!important
    }
    #es-map-details {
        width: 100%;
        top: 0;
        z-index: 8000!important;
    }
    #details {width: 100%;
	z-index: 8000;
}
    #details p, #details h3, #details h4 {margin: 0;}
    #details div.header {position: fixed; width: 98%!important; height: 80px; margin: 0; overflow: hidden;
        background-color: #add6ca;
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
        z-index:3;
    }
    #details div.struttura { width: 64%; height: 100%; }
    #details div.dimensione { width: 25%; height: 100%;
	float: left;
	margin-left: 3px;
}


    #details ul.indicators { margin-top: 87px; }
    #details ul.indicators li { margin: 1px 0 0 0;
        height: 49px;
    }
    #details p.disease_description { clear: both; }

    #details h4	{width: 40%; float: left; overflow: hidden; height: 100%; line-height: normal; }
    #details div.progress span.hospitalized { right: 8px; }
    #details div.progress {width: 50%; float: right;}
    #details span.national-mean { display: none; }

    #rankings {width: 100%; height: 100%; margin: 0; padding: 0; }
    #rankings h4 {
        height: 30px;
        padding-top: 12px;
        width: 100%;
        margin-top: 0;
    }

	#rankings span.search-query {
	margin-left: 10px;
	margin-right: 10px;
}

    #rankings .close, #details .close {
        opacity: 1.0!important;
        margin-right: 10px!important;
        margin-top: 60px!important;
        position: fixed!important;
        top: 0px!important;
        z-index: 9999!important;
        right: 0!important;
        display: block;
    }

    #rankings ul:nth-of-type(1) {
        margin-top: 50px;
    }

    #rankings ul {
        display:block;
        float: none;
        padding-left: 10px;
        padding-right: 10px;
    }

    #rankings h4 {
        padding-left: 10px;
        padding-right: 10px;
    }

    #rankings ul li.hospital span.name {
        width: auto;
        overflow: visible;
    }

}

/* @end */
