/* @override http://33.33.33.101/css/main.css */

body {
	font-family: "Titillium Web"!important;
}

html, body {
    margin  : 0;
    padding : 0;
    height  : 100%;
    width   : 100%;
}
@media only screen and (max-width: 767px) {
    html, body {
        padding: 0!important;
    }
}

#app-es-map {
    width    : 100%;
    position : relative;
    height   : 100%;
}

#loader {
    width    : 100%;
    position : absolute;
    height   : 100%;
    z-index: 9999;
	background-color: #feffff;
	display: block;
	top: 0;
	left: 0;
	opacity: 0.8;
}

.searchbar {
	top:  0px;
	right: 0px;
	display: block;
	position: absolute;	
	z-index:1000;
	background: rgba(40,40,40,0.8);
	padding: 10px;
}

#searchbox {
	width: 100%;
}

#details {
	width: 230px;
	display: block;
	position: absolute;
	z-index:8000;
	background: rgba(40,40,40,0.8);
	top: 0;
	padding: 0;
	color: #d5d5d5;
	overflow: auto;
    height: 100%;
    min-height: 100%;
	
}

div.olControlZoom {
    right: 10px;
    top: 100px!important;
    left: auto!important;
    padding: 3px;
}

.olControlAttribution {
    position      : absolute;
    font-size     : 10px;
    bottom        : 0 !important;
    right         : 0 !important;
    background    : rgba(0,0,0,0.1);
    font-family   : Arial;
    padding       : 2px 4px;
    border-radius : 5px 0 0 0;
}

div.olControlZoom a {
    background: #797979!important;
    background: rgba(121, 121, 121, 0.5);
}

#details .header, 
#details ul.indicators li {
	background-color: #797979;
	padding-right: 5px;
	padding-left: 5px;
	overflow: hidden;
	margin-top: 10px;
	border: 3px solid #797979;
	margin-right: 10px;
	margin-left: 10px;
	display: block;
}

#details ul.indicators {
	margin: 0;
	padding: 0;
}

#details ul.indicators li {
	list-style: none;
	margin-top: 10px;
}

#details ul.indicators li:hover {
	border-color: #0096ff;
	cursor: pointer;
}

#details ul.indicators li h4 {
	font-size: 14px;
}

#details ul.indicators li h4.disabled {
	color: #919191;
}

#rankings {
	width: 430px;
	display: block;
	position: absolute;
	z-index:8001;
	background: rgba(40,40,40,0.8);
	bottom: 0;
	right: 0px;
	padding: 10px;
	color: #d5d5d5;
}

#rankings ul {
	margin-left: 0px!important;
}

.close {
	margin-top: 10px;
}

#details a.close {
	position: absolute;
	right: 15px;
	top: 6px;
}

#rankings ul li.label {
	list-style: none;
	padding: 3px;
	background: none!important;
	margin-bottom: 5px;
	margin-top: 5px;
}

#rankings ul li.hospital {
	list-style: none;
	padding: 3px;
}
/*
#rankings ul li.hospital:hover {
	background-color: #797979;
	cursor: pointer;
}*/

#rankings ul li.hospital span.name {
	width: 133px;
	overflow: hidden;		
	display: inline-block;
	white-space: nowrap;
	vertical-align: baseline;
}

#rankings ul li.hospital span.badge {
	width: 44px;
	text-align: center;
}

#rankings h4 {
	margin-bottom: 10px;
	border-bottom: 1px solid #919191;
	padding-bottom: 10px;
}

#rankings ul.topten li.hospital span.score {
	color: #5fbe5f;
}

#rankings ul.bottomten li.hospital span.score {
	color: #da524d;
}

#map {
    width: 100%;
    height: 100%;
    min-height: 100%;
}


.fill {
    min-height: 100%;
    height: 100%;
	margin-top: -14px;
}

#map img { max-width:none; }

.tooltip {
    z-index: 9999;
}

/* @group Polar Chart */

#disease_details {
	z-index: 2;
	display: block;
	position: relative;
	top: -479px;
	width: 181px;
	left: 311px;
	text-align: center;
}


#disease_legend {
	z-index:9999;
	padding: 10px;
	position: absolute;
	display: block;
	width: 300px;
	top: 192px;
	right: 37px;
	background: rgba(88, 82, 84,0.8);
}

.disease {
	color: #feffff;
	display: block;
}

.disease.title {
	font-size: 18px;
	margin-bottom: 7px;
}

.disease.description {
	font-style: italic;
}

#disease_details ul {
	text-align: left;
	margin-left: 0;
	padding: 0 10px 2px;
}

li.disease li {
   padding-left: 1em; 
    text-indent: -.7em;
}
li.disease:before {
    content: "•";
	font-size: 27px;
}

li.disease.hospitalized:before {
	color:  rgba(200, 200, 200, 0.5000);
}

li.disease.deaths:before {
	color:  rgba(251, 20, 16, 1.0000);
}

li.disease.national_deaths:before {
	color:  rgba(248, 163, 164, 1.0000);
}
/* @end */



/* @group Responsive */

@media only screen and (max-width: 480px) {

	div.olControlZoom {
	    top: 70px!important;
	}
	
	.searchbar {
		width: 100%;
		margin: 0;
		padding: 0;
	}	
	
	.searchbar .search {
		margin-left: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	.searchbar .span3 {
		width: 85%!important
	}
	
	#details {
		width: 100%;
	}	
		
	#details p, #details h3, #details h4 {
		margin: 0;
	}

	#details div.header {
		position: fixed;
		width: 98%!important;
		height: 80px;
		overflow: hidden;
		margin-top: 0;
		padding-top: 10px;
		padding-bottom: 3px;
		padding-right: 0;
		margin-left: 0;
		padding: 0;
		margin: 0;
	}
	
	#details div.header h3 {
		white-space: nowrap;
		overflow: hidden;
		width: 300px;
	}
	
	#details ul.indicators {
		margin-top: 87px;
	}
	
	#details ul.indicators li {
		height: 25px;
		margin-top: 1px;
		margin-right: 0!important;
		padding-left: 0;
		margin-left: 0;
	}	
		
	#details h4	{
		width: 67%;
		overflow: hidden;
		white-space: nowrap;
		float: left;
	}
		
	#details div.progress {
		width: 30%;
		float: right;
	}
	
    #rankings {
        width: 100%;
		margin: 0;
		padding: 0;
		height: 100%;
		overflow: scroll;
	}
	
	#rankings h4 {
		position: fixed;
		height: 27px;
		overflow: hidden;
		padding-top: 12px;
		background: rgba(40,40,40,0.8);
		width: 383px;
		margin-top: 0;
	}	
	
	#rankings .close, #details .close {		
		opacity: 1.0!important;
		margin-right: 10px!important;
		margin-top: 15px!important;
		position: fixed!important;
		top: 0px!important;
		z-index: 9999;
		right: 0px!important;
	}
	
	#rankings ul:nth-of-type(1) {
		margin-top: 50px;
	}
		
	#rankings ul {
		display:block;
		float: none;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	#rankings h4 {
		padding-left: 10px;
		padding-right: 10px;
	}	
	
	#rankings ul li.hospital span.name {
		width: auto;
		overflow: visible;		
	}	
}

/* @end */
