[submodule "jslib/fuelux"]
	path = jslib/fuelux
	url = git@github.com:ExactTarget/fuelux.git
[submodule "vendor/elastica"]
	path = vendor/elastica
	url = https://github.com/ruflin/Elastica.git
[submodule "jslib/es-backbone"]
	path = jslib/es-backbone
	url = http://github.com/Automattic/es-backbone.git
